<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>normal_brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bricks.png</string>
            <key>size</key>
            <string>{94,34}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ab606aa526289bc63c6b7c25fff5170:af5ad542140a322bf130aec364316f1e:65a9236138386320cc1ac7c1b5fef6a1$</string>
            <key>textureFileName</key>
            <string>bricks.png</string>
        </dict>
    </dict>
</plist>
